.sat-align-citation{
    margin-top: 10px;
}
.sat_page{
    color: #555;
}

.sat_page.sat_textaligncenter, .sat_page .sat_textaligncenter{
    text-align: center;
}

.sat_page .box_pendingreport{
    position:relative;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 30px;
    padding-top: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #E1E1E1;
    border-radius: 1px;
    background: #ececec;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #ececec));
    background-image: -webkit-linear-gradient(top, #fafafa, #ececec);
    background-image: -moz-linear-gradient(top, #fafafa, #ececec);
    background-image: -o-linear-gradient(top, #fafafa, #ececec);
    background-image: linear-gradient(top, #fafafa, #ececec);
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sat_topreport h2{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 3px
}
.sat_topreport  .sat_keywordline {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    height: 25px;
    padding: 1px 6px 1px 6px;
    border: 1px solid #E1E1E1;  
    border-radius: 1px;
    background: #ececec;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #ececec));
    background-image: -webkit-linear-gradient(top, #fafafa, #ececec);
    background-image: -moz-linear-gradient(top, #fafafa, #ececec);
    background-image: -o-linear-gradient(top, #fafafa, #ececec);
    background-image: linear-gradient(top, #fafafa, #ececec);
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sat_topreport  ul.sat_listurltopreport { 
    margin: 2px 0 15px 0;
}
.sat_topreport   ul.sat_listurltopreport li a{
    cursor: pointer;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
}
.sat_topreport    ul.sat_listurltopreport li{
    border-radius: 3px;
    line-height: 15px;
    font-size: 12.5px;
    border: 1px solid #FFFFFF;
    list-style: none;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}
.sat_topreport   ul.sat_listurltopreport li:hover{
    border: 1px solid #EEEEEE;
    background: linear-gradient(to right, #ededed 0%,#f6f6f6 33%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ededed", endColorstr="#ffffff",GradientType=1 );
}
.sat_topreport   .sat_positiondivlist{
    text-align: center;
    display: block;
    min-width: 30px;
    font-weight: normal;
    font-size: 20px;
    float: left;
    line-height: 30px;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid lightgray;
}
.sat_topreport  .sat_titlelinelist{
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}
.sat_topreport  .sat_urllinelist{
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sat_alert-error{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.sat_thstylecss{
    text-align: center !important;
    font-weight: normal!important;
    border: 1px solid #dddddd !important;
    padding: 6px;
}

.sat_display_none{
    display: none;
}
.sat_div_advanced{
    padding: 15px 10px;
    margin-bottom: 9px;
    border-bottom: 1px dashed #cccccc;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}
.sat_arrow-down{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.sat_page .sat_bglgray{
    background-color: #F9F9F9 !important;
}


.sat_table tr.row_even,.sat_table tr.row_even td {
    color: #333;
    background-color: #fff;
    border-bottom: 1px dotted #bbb;
}

.form-table td {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}

.sat_url_view_erankerreport{
    text-align: center;
    padding: 15px 10px;
    margin-bottom: 9px;
    border-bottom: 1px dashed #cccccc;
    cursor: pointer;
    color: #333;
    border-top: 1px dashed #cccccc;
}


.sat_report.sat_keyworddensity{
    background: white;
    color: #333;
}

.sat_w100p {
    width: 100%;
}
.sat_display_block {
    display: block;
} 
.sat_clear_both {
    clear: both;
}
.sat_keyworddensity .sat_url {
    background: #222;
    color: #eee;
    font-size: larger;
}
.sat_keyworddensity li{
    padding:5px 0; border-bottom:1px dotted #ddd;
}
.sat_keyworddensity i{
    color:#666;
}
.sat_padding_10{
    padding: 10px;
}
.sat_keyworddensity .sat_big_block{
    padding: 10px;
    border-bottom: 1px dashed #eee;
}
.sat_float_left {
    float: left;
}
.sat_float_right {
    float: right;
}
.sat_width_48 {
    width: 48%;
}
.sat_googleplusreviewrequest_googlelocalurl{
    width: 100%;
}
.sat_background_gray{
    background: #f7f7f7;
}
.sat_header_report_plugin{
    background-color: #F9F9F9; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #e5e5e5;
    margin-bottom: 4px;
}
.sat_div_divider_left{
    display: inline;
}
.sat_div_divider_right{
    float: right;
}
.sat_title_report_plugin{
    display: inline;
}

.factor_list_checkbox{
    width: 230px;
    display: inline-block;  
}

/* pending coffee-spinner */

.coffee-on-top {
    /*    position:absolute;
        top: 11%;
        z-index: 1;
        left: 50%;
        margin-left: -190.5px;*/
    position: absolute;
    top: 200px;
    z-index: 1;
    left: 50%;
    margin-top: -72px;
    margin-left: -72px;
    background: transparent!important;
}
#pending-loading { 
    cursor: wait;
    background-color:#754b23;
    opacity: .8;
    border-radius: 50px;
    margin: 5% auto;
    animation: loading .5s infinite linear;
    -moz-animation: loading .5s infinite linear;
    -webkit-animation: loading .5s infinite linear;
}

.pending-spin {
    border: 20px solid #a86424;
    border-top: 20px solid rgba(0,0,0,0);
    border-left: 20px solid rgba(0,0,0,0);
    width: 280px;
    height: 280px; 
    border-radius: 280px !important;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes loading {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}